﻿
@{
    ViewBag.Title = "Access";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="container-fluid bg">
    <div class="row">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <br />

                <div class="form-containerl">
                    <h1 class="text-center" style="font-weight:bold">Login</h1>
                    <br />

                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="user">
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Login</button>
                    @Html.ActionLink("Registrar", "Index", "Home")

                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        }
    </div>

</div>


