.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menuCSS3 a {
    display: block;
    padding: 2em;
    text-decoration: none;
}

    .menuCSS3 a:hover {
    }

.menuCSS3 ul li ul {
    display: none;
}

    .menuCSS3 ul li ul a {
        text-decoration: none;
        color:white;
    }

    .menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
        display: block;
    }

    .jumbotron{
        width:380px;
        height:auto;
        margin-left:400px;
    }
    .pointer{
        cursor:pointer;
    }

.form-containerl {
    background-image: url('../image/LogoSerNav.png');
    color: black;
    padding: 50px 50px;
    -webkit-box-shadow: 10px 7px 42px -8px rgba(0,0,0,1);
    -moz-box-shadow: 10px 7px 42px -8px rgba(0,0,0,1);
    box-shadow: 10px 7px 42px -8px rgba(0,0,0,1);
}

.form-containerc {
    background-image: url('../image/LogoSerNav.png');
    color: black;
    padding: 50px 50px;
    -webkit-box-shadow: 10px 7px 42px -8px rgba(0,0,0,1);
    -moz-box-shadow: 10px 7px 42px -8px rgba(0,0,0,1);
    box-shadow: 10px 7px 42px -8px rgba(0,0,0,1);
}

.bn {
    width: 100%;
    height: 80px;
}

.bni {
    margin-top: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.body-content {
    padding-top: 50px;
}

.container-radio {
    text-align: center;
    padding-bottom: 20px;
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}
