﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/style/style.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Servicios Navales", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse menuCSS3">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Maestros", "", "")
                        <ul>
                            <li>@Html.ActionLink("Menu", "Create", "Menu")</li>
                            <li>@Html.ActionLink("Paginas", "Index", "Home")</li>
                            <li>@Html.ActionLink("Roles", "Index", "Home")</li>
                            <li>@Html.ActionLink("Especialidades", "Index", "Home")</li>
                            <li>@Html.ActionLink("Personal", "Index", "Home")</li>
                            <li>@Html.ActionLink("Embarcaciones", "Index", "Home")</li>
                            <li>@Html.ActionLink("Servicios", "Index", "Home")</li>
                            <li>@Html.ActionLink("Artículos", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Planillas", "", "")
                        <ul>
                            <li>@Html.ActionLink("Parte Diario", "Index", "Home")</li>
                            <li>@Html.ActionLink("Planilla Pagos", "Index", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="modal-footer">
            <p>&copy; @DateTime.Now.Year - Servicios Navales</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
